.img1{
  max-width: 100%;
  height: auto;
}
.card-img-top{
    width: 40%;
    height: 200px;
    margin-left: 25%;
    padding: 15px;
}
.card-group {
   left: 0;
   bottom: 0;
   width: 100%;
   color: white;
   text-align: inherit;
}
.img-fluid{
    margin-left: 3%;
    width: 10%;
    float: left;
    padding-bottom: 30px;
    padding-left: 5px;
}
.img2{
    float: right; 
}
.img5{
    width: 15%;
    height: 50px;
}
.h1_r{
    padding: 19px;
    color: gray;
}
.form2{
    margin-top: -60%;
    padding: 50px;
}
.modal-header{
    opacity: .75;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}
/*Estilos de nosotros.jsp*/
.cardN{
    padding: 22px;
}
.imgNC{
    margin-top: -70px;
    margin-left: 35%;
    width: 90px;
}
.cardI{
    padding: 20px;
}
.cardNB{
    color: black;
    text-align: justify;
}
.ImgN{
    width: 100%;
    
}
#success_message{ display: none;}

/*Diseño de index*/
.suscribir{
    background: url("../img/index.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
}

/*Diseño de listar.jsp*/
.inputLis{
    border-bottom: 2px solid gray;
}